<table class="attr">
  <tr>
    <th width="150">氏名</th>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @user.address.postcode %></td>
  </tr>
  <tr>
    <th>都道府県</th>
    <td><%= @user.address.prefecture %></td>
  </tr>
  <tr>
    <th>市区町村</th>
    <td><%= @user.address.city %></td>
  </tr>
  <tr>
  <tr>
    <th>町域・番号</th>
    <td><%= @user.address.address_street %></td>
  </tr>
  <tr>
    <th>建物名・号室</th>
    <td><%= @user.address.address_building %></td>
  </tr>
</table>
